/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.7.2018, 10:32:01
    Author     : mikko
*/

.root {
     -fx-background-image: url("an-abstract-animated-green-background-texture-with-penetrating-light-rays-and-glows_v1zlbsmzx__F0000.png");
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ccffcc;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: #ccffcc;
    -fx-font-family: "Comic Sans";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(to right, rgba(164,179,87,1) 5%, rgba(2,140,71,1) 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #028c47;
    -fx-text-fill: #ccffcc;
}

.list-cell:even {
    -fx-background-color: #ccffcc;
}

.list-cell:odd {
    -fx-background-color: #79c679;
}

.list-cell:filled:hover {
    -fx-background-color: #265126;
    -fx-text-fill: #ccffcc;
}

.jfx-radio-button {
    -fx-selected-color: yellow;
    -fx-unselected-color: blue;
}

.radio-button {
-fx-font-family: "Comic Sans";
-fx-font-size: 14px;
-fx-text-fill: #ccffcc;
-fx-font-weight: bold;
-fx-effect: dropshadow(one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab{
    -fx-background-color: #028c47;

}

.tab-pane .tab:selected{
    -fx-background-color: #79c679;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ccffcc;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ccffcc;
}

.text-field {
    -fx-background-color: #028c47 ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-text-fill: BLACK;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
    fx-text-fill: BLACK;
}